# venv
.venv/

# python cache
*.pyc
__pycache__/

# ??
instance/

# test
.pytest_cache/
.coverage
htmlcov/

# build
dist/
build/
*.egg-info/

# dev
*.swo
*.swp
.DS_Store
set_env_vars.sh

# cndt_router
/app/cndt_router/bin/*
/app/cndt_router/include/*
/app/cndt_router/lib/*
/app/cndt_router/pyvenv.cfg

# cndt_eastern_api
/app/cndt_eastern_api/bin/*
/app/cndt_eastern_api/include/*
/app/cndt_eastern_api/lib/*
/app/cndt_eastern_api/pyvenv.cfg

# cndt_western_api
/app/cndt_western_api/bin/*
/app/cndt_western_api/include/*
/app/cndt_western_api/lib/*
/app/cndt_western_api/pyvenv.cfg

# cndt_western_api
/app/load_generator/bin/*
/app/load_generator/include/*
/app/load_generator/lib/*
/app/load_generator/pyvenv.cfg

# openobserve
data/

# misk
/misk/research-python/bin/*
/misk/research-python/include/*
/misk/research-python/lib/*
/misk/research-python/pyvenv.cfg
/misk/debug-opentelemetry-instrument/bin/*
/misk/debug-opentelemetry-instrument/include/*
/misk/debug-opentelemetry-instrument/lib/*
/misk/debug-opentelemetry-instrument/pyvenv.cfg